*{
     font-family: "Kedebideri", sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
}

h2, h3, h4{
    font-family: "Quantico", sans-serif;
}

nav{
    background-color: black
}

.logo{
    width: 130px;
    padding: 1px;
}

nav ul{
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link{
    margin: 0px 20px;
    color: white;
    text-decoration: none;
    list-style: none;
}

.hd a{
    display: inline-block;
    text-decoration: none;
}

.img{
    width: 300px;
}

.article{
    display: flex;
    justify-content: center;
    text-align: center;
}

.buttonArt{
    background-color: rgba(19, 58, 51, 0.747);
    color: beige;
}

.buttonArt:hover{
    background-color: blue;
    color: beige;
}